<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PTU Wiki Template - Pokemon</title>

	<base href="/">
	<link rel="stylesheet" href="./css/typography.css">
	<link rel="stylesheet" href="./css/page_layout.css">
	<link rel="stylesheet" href="./css/colors.css">
	<link rel="stylesheet" href="./css/type_styling.css">
	<link rel="stylesheet" href="./css/poke_page.css">
</head>
<body onload="setFloatShape()">
	<div class="header-rest-wrapper">
		<header>
			Pokémon Tabletop United Wiki
		</header>
		<div class="nav-main-wrapper">
			<nav class="sidebar">
				<ul>
					<li>Lorem</li>
					<li>ipsum</li>
					<li>dolor</li>
				</ul>
			</nav>
			<main class="page-content">
				<div class="image-box">
					<img src="./img/portrait/bulbasaur.png" alt="Bulbasaur">
				</div>
				<h1 class="title">
					<img class="icon" src="./img/ico/bulbasaur.png" alt="Bulbasaur">
					Bulbasaur
				</h1>
				<div class="main-content">
					<div class="types">
						<div class="type type-grass">Grass</div>
						<div class="type type-poison">Poison</div>
					</div>
					<div class="content-box">
						<div>
							<h2 class="section-header">Base Stats</h2>
							<table class="stat-table">
								<tr>
									<td>HP</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Attack</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Defense</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Sp. Attack</td>
									<td>7</td>
								</tr>
								<tr>
									<td>Sp. Defense</td>
									<td>7</td>
								</tr>
								<tr>
									<td>Speed</td>
									<td>5</td>
								</tr>
							</table>
						</div>
						<div class="abilities-container">
							<h2 class="section-header">Abilities</h2>
							<h3 class="subheading">Basic</h3>
							<ul class="ability-list">
								<li>Confidence</li>
								<li>Photosynthesis</li>
							</ul>
							<h3 class="subheading">Advanced</h3>
							<ul class="ability-list">
								<li>Chlorophyll</li>
								<li>Leaf Guard</li>
							</ul>
							<h3 class="subheading">High</h3>
							<ul class="ability-list">
								<li>Courage</li>
							</ul>
						</div>
						<div>
							<h2 class="section-header">Evolution</h2>

						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>