<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PTU Wiki Template</title>

	<base href="/">
	<link rel="stylesheet" href="./css/typography.css">
	<link rel="stylesheet" href="./css/page_layout.css">
	<link rel="stylesheet" href="./css/colors.css">
</head>
<body>
	<div class="header-rest-wrapper">
		<header>
			Pokémon Tabletop United Wiki
		</header>
		<div class="nav-main-wrapper">
			<nav class="sidebar">
				<ul>
					<li>Lorem</li>
					<li>ipsum</li>
					<li>dolor</li>
				</ul>
			</nav>
			<main class="page-content">
				<div class="image-box">
					<img src="./src/img/bulbasaur.png" alt="bulbasaur">
				</div>
				<h1 class="title">Page Title</h1>
				<div class="main-content">
				</div>
			</main>
		</div>
	</div>
</body>
</html>